MeteorApp/node_modules/
MeteorApp/.deploy/
.idea/
Geniee/node_modules/
Geniee/app/config/settings.js
Geniee/package-lock.json
Geniee/android/app/build/
Geniee/android/build/
GenieeServer/node_modules/
.vscode/
